# generated : {{utcnow}}  // template : /setup/docker-compose.jinja2
version: '2'
services:
{% for item in items %}
  #---------------------------------------------------------
  # testing service for : "{{item.iso}}" - "{{item.name_en}}"
  #            continent: "{{continent}}"
  #
  taginfo_job_{{continent}}_{{item.iso}}:
    image: taginfo_job
    volumes:
     - ./{{item.iso}}/data:/osm/data
     - ./{{item.iso}}:/osm/cfg
     - ../../import:/osm/import
     - ../../sh:/osm/sh     
    environment:
     - AREA_ID={{item.iso}}
     - AREA_NAME="{{item.name_en}}"
     - CONTINENT={{continent}}
     - CONTINENT_LONG={{continent_long}}

  taginfo_view_{{continent}}_{{item.iso}}:
    mem_limit: 50M
    restart: always
    image: taginfo_view  
    ports:
    - "{{item.port_order}}:4567"      
    volumes:
     - ./{{item.iso}}/data:/osm/data
     - ./{{item.iso}}:/osm/cfg
     - ../../sh:/osm/sh
{% endfor %}

# generated : {{utcnow}}  // template : /setup/docker-compose.jinja2
