# generated : {{utcnow}}  // template : ./setup/service_create.sh.jinja2

{% for item in items %}
 docker-compose create taginfo_view_{{continent}}_{{item.iso}}{% endfor %}
 
# generated : {{utcnow}}
